.footer {
  @extend %flex-between;
  align-items: center;
  line-height: 63px;
  border-top: 1px solid #e5e5e5;

  &__box {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }

  &__description {
    margin: 0;

    &-link {
      color: $hover-link-color;
      text-decoration: none;
    }
  }

  &__contact-form {
    display: flex;

    &-input {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 300;
      font-style: italic;
      border: 1px solid #e7e7e7;
      border-right: none;
      width: 230px;
      padding: 10px 14px;
    }

    &-btn {
      width: 150px;
      background-color: #95e1d3;
      font-family: $main-family-font;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 17px;
      text-align: center;
      cursor: pointer;
    }
  }
}
