.services {
  padding-top: 43px;
  padding-bottom: 86px;

  &__title {
    @extend %title-main-styles;
    margin-bottom: 65px;

    &-kaushan {
      @extend %title-kaushan;
      @extend %section-title-kaushan;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    flex-basis: 382px;
    background-repeat: no-repeat;
    background-position-x: 20px;

    &:nth-of-type(-n + 3) {
      margin-bottom: 96px;
    }

    &_icon {
      &-clock {
        background-image: url(../images/icon/services/alarm1.svg);
      }

      &-line-graph {
        background-image: url(../images/icon/services/linegraph2.svg);
      }

      &-computer {
        background-image: url(../images/icon/services/computer3.svg);
      }

      &-book {
        background-image: url(../images/icon/services/book4.svg);
      }

      &-home {
        background-image: url(../images/icon/services/home5.svg);
      }

      &-image {
        background-image: url(../images/icon/services/image6.svg);
      }
    }
  }

  &__item {
    &-text {
      width: 300px;
      margin-left: 82px;
    }

    &-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: -0.4px;
      text-transform: uppercase;
      color: #333333;
      margin: 0 0 12px;
    }

    &-description {
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: #999999;
      line-height: 24px;
      margin: 0;
    }
  }
}
