.team {
  padding-bottom: 78px;

  &__title {
    @extend %title-main-styles;
    margin-bottom: 40px;

    &-kaushan {
      @extend %title-kaushan;
      @extend %section-title-kaushan;
    }
  }

  &__description {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 400;
    text-align: center;
    width: 980px;
    margin: 0 auto 88px;
  }

  &__list {
    @extend %flex-between;

    &-wrapper-photo {
      position: relative;

      &:hover {
        .team__list-person-photo {
          transform: translate(-10px, -10px);
          box-shadow: 10px 10px #95e1d3;
        }

        .overlay {
          visibility: visible;
          transform: translate(-10px, -10px);
        }
      }
    }

    &-person-photo {
      margin-bottom: 27px;
      transition: all 200ms linear;
    }

    &-person-name {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      text-transform: uppercase;
      line-height: 17px;
      text-align: center;
      margin: 0 0 7px;
    }

    &-person-post {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 300;
      color: #999999;
      font-style: italic;
      line-height: 24px;
      text-align: center;
      margin: 0;
    }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms linear;

  &__list {
    display: flex;
    padding: 0;

    &-item-link {
      display: block;
      position: relative;
      background-color: rgba(252, 227, 138, 1);
      background-clip: padding-box;
      width: 56px;
      height: 56px;
      transition: all 200ms linear;

      &:nth-child(-n + 1) {
        border-right: 1px solid rgba(243, 129, 129, 0.5);
      }

      &:hover {
        background-color: $hover-link-color;
        fill: #ffffff;
        cursor: pointer;

        .overlay__list-item-link-icon {
          fill: #ffffff;
        }
      }

      &-icon {
        fill: $hover-link-color;
        position: absolute;
        top: 15px;
        height: 27px;
      }

      &_facebook {
        left: 22px;
        width: 14px;
      }

      &_twitter {
        left: 14px;
        width: 32px;
      }

      &_pinterest {
        left: 17px;
        width: 22px;
      }

      &_instagram {
        left: 15px;
        width: 27px;
      }
    }
  }
}
